.junbotron {
    display: block;
    padding: 20px;
    background-color: deepskyblue;
}



.selectednews {
    display: block;
    border-style: dashed;
    margin: 3px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    color: red;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: inline-flex;
    padding: 30px;
    background-color: deepskyblue;
    }