<div class='junbotron' >
   <ng-content></ng-content>
   <p>
    <b>{{ service._customMessage$ | async }}</b>
   </p>
(content projection)
</div>
<div class="selectednews"  *ngIf="selectedNews">
  {{selectedNews}}
</div>
<hr>
<div class="container">
<app-children [count]="countNews" (newItemSelected)="itemClicked($event)">

  </app-children>
</div>
  <hr>
  <select #countselector (change)="changeCount($event)" [ngModel]="countNews">
     <option *ngFor="let count of [1,2,3]"  [value]="count" [selected]="countNews === count">{{ count }}</option>
  </select>