<div class='mainContent'>
<header>
  <h2>About Page</h2>
</header>
<footer>
  <p class='info'>THis is my first message</p>
</footer>
<content class='content'>
  <p>loreem ipsum loreem ipsumloreem ipsumloreem ipsumloreem ipsum loreem ipsumloreem ipsumvloreem ipsum
    loreem ipsumloreem ipsumvloreem ipsum
    loreem ipsumloreem ipsumloreem ipsumloreem ipsum loreem ipsumloreem ipsum
  </p>
  <p>loreem ipsumloreem ipsum loreem ipsumloreem ipsumvloreem ipsumloreem ipsum loreem ipsumloreem ipsum
    loreem ipsumloreem ipsum loreem ipsum
  </p>
</content>
</div>
<aside class='aside'>
   <p class='atitle'>My Title</p>
   <p  class ='acontent'>
     Thisn is the content fropk aside,  bar side .. etc.. Thisn is the content fropk aside,  bar side .. etc..
     Thisn is the content fropk aside,  bar side .. etc..
     Thisn is the content fropk aside,  bar side .. etc..
     Thisn is the content fropk aside,  bar side .. etc..
   </p>
</aside>
<footer>
  <div class='footer'>
      CopyRight 2019  All ruights reserved
  </div>
</footer>
