<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-parent>
    <span class="title">BASIC ANGULAR 8 FEATURES</span>
    <span class="description">Basic Angular components comunication through Inputs, Outputs, Services (RXJS), Routing, Animation</span>
   </app-parent>


</div>
<nav>
  <ul style="display: block">
     <li><a  [routerLink]="['/about']" routerLinkActive="active"> About</a></li>
     <li><a  [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
