a {
  text-decoration: none;
}
a:link {
  color: brown;
}

nav {
  background-color: antiquewhite;
  border-radius: 5px;
}

.active {
  background-color: yellowgreen;
  font-size: larger;
  font-weight: bolder;
}

nav ul li {
  display: inline-block;
  padding: 5px 10px;
}

.title {
  display: block;
  padding: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.description {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}